Repository credfeto/credfeto-tsql-format, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-tsql-formatter, credfeto-tsql-formatter-cmd, credfeto-tsql-formatter-test, github-actions, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, Unit Tests

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-tsql-formatter":
 - any: [ 'src/$Credfeto.Tsql.Formatter/**/*' ]
"credfeto-tsql-formatter-cmd":
 - any: [ 'src/$Credfeto.Tsql.Formatter.Cmd/**/*' ]
"credfeto-tsql-formatter-test":
 - any: [ 'src/$Credfeto.Tsql.Formatter.Test/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Unit Tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/todos.yml
  .github/workflows/todos.yml
Labels: github-actions

[Actions] Updated .github/workflows/create-prs-for-stale-branches.yml
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[Actions] Updated .github/workflows/pull-request.yml
  .github/workflows/pull-request.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

SDK - Updated DotNet SDK to 9.0.303
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Gitignore config] Updated .gitignore
  .gitignore
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/cloudformation-deploy/action.yml
  .github/actions/cloudformation-deploy/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

SDK - Updated DotNet SDK to 9.0.303
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

Removed reference to Credfeto.Enumeration.Source.Generation.Attributes
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
Labels: C# Project

Removed reference to Credfeto.Extensions.Linq
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
Labels: C# Project

Removed reference to Microsoft.Extensions.DependencyInjection
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
Labels: C# Project

Removed reference to Microsoft.Extensions.Logging
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
Labels: C# Project

Removed reference to Microsoft.Extensions.DependencyInjection.Abstractions
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.13.1330
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.210
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Microsoft.Sbom.Targets (Software Bill Of Materials) to 4.1.0
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Philips.CodeAnalysis.DuplicateCodeAnalyzer (Code analysis) to 1.6.4
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown
