Repository credfeto/credfeto-tsql-format, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-tsql-formatter, credfeto-tsql-formatter-cmd, credfeto-tsql-formatter-test, github-actions, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, Unit Tests

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-tsql-formatter":
 - any: [ 'src/$Credfeto.Tsql.Formatter/**/*' ]
"credfeto-tsql-formatter-cmd":
 - any: [ 'src/$Credfeto.Tsql.Formatter.Cmd/**/*' ]
"credfeto-tsql-formatter-test":
 - any: [ 'src/$Credfeto.Tsql.Formatter.Test/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Unit Tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]

Renaming and adding basic DI
  src/Credfeto.Tsql.Formatter.Test/FormatTest.CreateTable.cs
  src/Credfeto.Tsql.Formatter.Test/FormatTest.UserDefinedType.cs
  src/Credfeto.Tsql.Formatter.Test/FormatTest.cs
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
  src/Credfeto.Tsql.Formatter/ITransactSqlFormatter.cs
  src/Credfeto.Tsql.Formatter/TransactSqlFormatter.cs
  src/Credfeto.Tsql.Formatter/TransactSqlFormatterSetup.cs
Labels: C# Project

Additional check
  src/Credfeto.Tsql.Formatter.Cmd/Setup/ApplicationSetup.cs
Labels: none

Exclusions to handle oddities like redgate data files
  src/Credfeto.Tsql.Formatter.Cmd/Commands.cs
  src/Credfeto.Tsql.Formatter.Cmd/LoggingExtensions/CommandsLoggingExtensions.cs
  src/Credfeto.Tsql.Formatter/TransactSqlFormatter.cs
Labels: none

Moved file
  src/Credfeto.Tsql.Formatter.Test/FormatTest.cs
  src/Credfeto.Tsql.Formatter/Services/TransactSqlFormatter.cs
  src/Credfeto.Tsql.Formatter/TransactSqlFormatterSetup.cs
Labels: none

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

Removed: Obsolete action
  .github/workflows/reformat-sql.yml
Labels: github-actions

Removed: Obsolete action
  .github/workflows/reformat-yaml.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

If there are comments in the source, do not format as the underlying library will strip them
  src/Credfeto.Tsql.Formatter/Services/TransactSqlFormatter.cs
Labels: none

Changelog
  CHANGELOG.md
Labels: Change Log, Markdown

Changelog for 0.1.0
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

Cleanup: Commands.cs
  src/Credfeto.Tsql.Formatter.Cmd/Commands.cs
Labels: none

Cleanup: Program.cs
  src/Credfeto.Tsql.Formatter.Cmd/Program.cs
Labels: none

Cleanup: FormatTest.CreateTable.cs
  src/Credfeto.Tsql.Formatter.Test/FormatTest.CreateTable.cs
Labels: none

Cleanup: FormatTest.UserDefinedType.cs
  src/Credfeto.Tsql.Formatter.Test/FormatTest.UserDefinedType.cs
Labels: none

Cleanup: FormatTest.cs
  src/Credfeto.Tsql.Formatter.Test/FormatTest.cs
Labels: none

Cleanup: ITransactSqlFormatter.cs
  src/Credfeto.Tsql.Formatter/ITransactSqlFormatter.cs
Labels: none

Cleanup: TSqlOptions.cs
  src/Credfeto.Tsql.Formatter/TSqlOptions.cs
Labels: none

Cleanup: TransactSqlFormatterSetup.cs
  src/Credfeto.Tsql.Formatter/TransactSqlFormatterSetup.cs
Labels: none

Cleanup: CommandsLoggingExtensions.cs
  src/Credfeto.Tsql.Formatter.Cmd/LoggingExtensions/CommandsLoggingExtensions.cs
Labels: none

Cleanup: ApplicationSetup.cs
  src/Credfeto.Tsql.Formatter.Cmd/Setup/ApplicationSetup.cs
Labels: none

Cleanup: TransactSqlFormatter.cs
  src/Credfeto.Tsql.Formatter/Services/TransactSqlFormatter.cs
Labels: none

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.204
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.205
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Dependencies] Updating Philips.CodeAnalysis.MaintainabilityAnalyzers (Code analysis) to 1.6.3
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Microsoft.Extensions (Microsoft Extensions) to 9.0.7
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Microsoft.Extensions (Microsoft Extensions) to 9.0.7
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project

[Dependencies] Updating Microsoft.Extensions (Microsoft Extensions) to 9.0.7
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.7.1279
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 10.13.0.120203
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

SDK - Updated DotNet SDK to 9.0.302
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.8.1282
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.275.1526
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[PR] Updated labels
  .github/labels.yml
Labels: none
