Repository credfeto/credfeto-tsql-format, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-tsql-formatter, credfeto-tsql-formatter-cmd, credfeto-tsql-formatter-test, github-actions, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, Unit Tests

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/todos.yml
  .github/workflows/todos.yml
Labels: github-actions

SDK - Updated DotNet SDK to 9.0.305
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

Changelog for 0.1.6
  CHANGELOG.md
Labels: Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Code analysis] Updated src/CodeAnalysis.ruleset
  src/CodeAnalysis.ruleset
Labels: Static Code Analysis Rules

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/actions/build-tools/action.yml
  .github/actions/build-tools/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.129.1430
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.115.836
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.24.1452
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.220
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Microsoft.Sbom.Targets (Software Bill Of Materials) to 4.1.2
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Philips.CodeAnalysis.MaintainabilityAnalyzers (Code analysis) to 1.9.1
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.2.0.1690
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Microsoft.Extensions (Microsoft Extensions) to 9.0.9
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

Dotnet 10
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project

Updated DotNet SDK to 10.0.100-rc.1.25451.107
  src/global.json
Labels: .NET update

Dotnet 10
  CHANGELOG.md
Labels: Change Log, Markdown

Removed irrelevant settings
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.2.0.1690
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Microsoft.Extensions (Microsoft Extensions) to 9.0.9
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Gitignore config] Updated .gitignore
  .gitignore
Labels: none

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-build-check/action.yml
  .github/actions/dotnet-build-check/action.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

Migrated solution to SLNX
  src/Credfeto.Tsql.Formatter.sln
  src/Credfeto.Tsql.Formatter.slnx
  src/Credfeto.Tsql.Formatter.slnx.DotSettings
Labels: C# Solution

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

[Code analysis - pre-release rule overrides] Updated src/pre-release.rule-settings.json
  src/pre-release.rule-settings.json
Labels: Config Change

[Code analysis - release rule overrides] Updated src/release.rule-settings.json
  src/release.rule-settings.json
Labels: Config Change

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-tsql-formatter":
 - any: [ 'src/$Credfeto.Tsql.Formatter/**/*' ]
"credfeto-tsql-formatter-cmd":
 - any: [ 'src/$Credfeto.Tsql.Formatter.Cmd/**/*' ]
"credfeto-tsql-formatter-test":
 - any: [ 'src/$Credfeto.Tsql.Formatter.Test/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Unit Tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]
