Repository credfeto/credfeto-tsql-format, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-tsql-formatter, credfeto-tsql-formatter-cmd, credfeto-tsql-formatter-test, github-actions, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, Unit Tests

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-tsql-formatter":
 - any: [ 'src/$Credfeto.Tsql.Formatter/**/*' ]
"credfeto-tsql-formatter-cmd":
 - any: [ 'src/$Credfeto.Tsql.Formatter.Cmd/**/*' ]
"credfeto-tsql-formatter-test":
 - any: [ 'src/$Credfeto.Tsql.Formatter.Test/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Unit Tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]

[Dependencies] Updating Philips.CodeAnalysis.MaintainabilityAnalyzers (Code analysis) to 1.6.4
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Roslynator.Analyzers (Code analysis) to 4.14.0
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 10.15.0.120848
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating xunit.analyzers (Code analysis) to 1.23.0
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating xunit.v3 (Test Infrastructure) to 3.0.0
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.280.1580
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Microsoft.Extensions (Microsoft Extensions) to 9.0.8
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.121.1337
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.108.756
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.14.1336
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 0.1.1
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.122.1340
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.211
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 0.1.2
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.15.1339
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.281.1593
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.109.760
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.123.1345
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.16.1341
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.110.765
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.212
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 0.1.3
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.124.1351
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

SDK - Updated DotNet SDK to 9.0.304
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.17.1347
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.282.1603
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.125.1355
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.18.1350
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Philips.CodeAnalysis.MaintainabilityAnalyzers (Code analysis) to 1.7.0
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.111.775
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.283.1612
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.19.1359
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.126.1361
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.284.1617
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.112.779
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.20.1362
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.127.1366
  CHANGELOG.md
  src/Credfeto.Tsql.Formatter.Cmd/Credfeto.Tsql.Formatter.Cmd.csproj
  src/Credfeto.Tsql.Formatter.Test/Credfeto.Tsql.Formatter.Test.csproj
  src/Credfeto.Tsql.Formatter/Credfeto.Tsql.Formatter.csproj
Labels: C# Project, Change Log, Markdown
